name: Preview

on:
  pull_request:
    paths:
      - src/**

jobs:
  pr:
    name: Pull Request
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Upload Source
        uses: actions/upload-artifact@v4
        with:
          name: XKit Rewritten (#${{ github.event.pull_request.number }})
          path: src/**
