name: Release Notes

on: workflow_dispatch

permissions:
  contents: read

jobs:
  generate:
    name: Generate
    runs-on: ubuntu-slim
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Node.js environment
        uses: actions/setup-node@v6
        with:
          node-version: lts/*

      - name: Generate release notes
        run: |
          echo "\`\`\`md" >> $GITHUB_STEP_SUMMARY
          dev/release-notes.js >> $GITHUB_STEP_SUMMARY
          echo "\`\`\`" >> $GITHUB_STEP_SUMMARY
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
